
BODY, #userinput {
  font-family: menlo, consolas, monaco, monospace;
  font-size: 16px;
  background-image:inherit;

}

h2, #userinput { margin-left: 500px;
		margin-right:300px;}
#userinput { width: 500px; }
#chat { margin-top: 0.5em;
		margin-left: 500px;
		margin-right:300px;

		 }
		#time{
			display: inline-block; width: 150px; text-align: right; padding-right: 8px;margin-left: 900px;
		}

.user { display: inline-block; width: 150px; text-align: right; padding-right: 8px; }
.line { padding: 2px 0; }
.line:nth-child(odd) { background-color: #eff; }